<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoLogin.Properties.Settings.ProjetoLoginConnectionString"
            connectionString="Data Source=DESKTOP-TM9NO2D\SQLEXPRESS;Initial Catalog=ProjetoLogin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoLogin.Properties.Settings.hd_infinitysolutionsConnectionString"
            connectionString="Data Source=sql.hostlocation.com.br;Initial Catalog=hd-infinitysolutions;Persist Security Info=True;User ID=hd-infinitysolutions"
            providerName="System.Data.SqlClient" />
        <add name="ProjetoLogin.Properties.Settings.Help_Desk_PIM_ConnectionString"
            connectionString="Data Source=JERE_POSITIVO;Initial Catalog=&quot;Help Desk(PIM)&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>