<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Genome.Core" version="2.22.43" targetFramework="net40" />
  <package id="Genome.Ui" version="2.11.8" targetFramework="net40" />
  <package id="GeonBit.UI" version="3.2.0" targetFramework="net40" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net40" />
</packages>